@import "../../vars.css";

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 1em 0;
}

.input {
  margin-bottom: 1em;
  padding: 0em 1em;
  width: var(--edit_form-input-width);
  height: var(--edit_form-input-height);
  font-size: var(--edit_form-input-font-size);
  border: 1px solid #eee;
  border-radius: var(--edit_form-border-radius);
  outline-style: none;
  box-sizing: border-box;
}
.choice {
  text-align: center;
}
