@import "../../vars.css";

.container {
  padding: var(--screen-padding);
}
.title {
  text-align: center;
  font-size: var(--editor-title-font-size);
}

@media screen and (min-width: 600px) {
  .container {
    width: 40%;
  }
}
