@import "../../vars.css";

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1em 0;
}
.back,
.front {
  width: 80vw;
  height: 45vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #eee;
  border-radius: var(--edit_form-border-radius);
}
.front {
  z-index: 10;
}
.back {
  transform: translate(0, -100%);
  background-color: var(--logout_btn-after-color);
}
@keyframes hover_front {
  0% {
    transform: rotate(0);
    transform-origin: top left;
  }
  70% {
    transform: rotate(30deg);
    transform-origin: top left;
  }
  100% {
    transform: rotate(0);
    transform-origin: top left;
  }
}
.front:hover {
  cursor: pointer;
  animation: hover_front 1s ease;
}
.photo_container {
  width: var(--card-photo_container-size);
  /* height: var(--card-photo_container-size); */
}
.photo {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.name {
  margin-top: var(--card-name-margin-top);
  font-size: var(--card-name-font-size);
}
.role {
  font-size: var(--card-role-font-size);
  margin-top: var(--card-role-margin-top);
}

.company {
  font-size: var(--card-name-font-size);
  margin: var(--card-back-margin) 0;
}

.email {
  font-size: var(--card-email-font-size);
  margin: var(--card-back-margin) 0;
}

.descriptions {
  width: 70%;
  text-align: center;
  font-size: var(--card-descriptions-font-size);
  margin: var(--card-back-margin) 0;
}

@media screen and (min-width: 600px) {
  .back,
  .front {
    width: 40vw;
    height: 22vw;
  }
}
