@import "../../vars.css";

.main {
  height: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}
.card_makers {
  display: flex;
  flex-direction: column;
  margin-bottom: auto;
  /* align-items: center; */
}
