@import "../../vars.css";
.footer {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}
.add_container {
  position: fixed;
  bottom: 1em;
  background-color: var(--color-black);
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  cursor: pointer;
}
.add_btn {
  font-size: 2rem;
  color: var(--color-light-gray);
}
