@import "../../vars.css";

.container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.glass {
  position: relative;
  width: var(--login-glass-width);
  height: 15em;
  box-sizing: border-box;
  border-radius: var(--edit_form-border-radius);
  background: inherit;
  overflow: hidden;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 2px 2px 5px 4px rgba(0, 0, 0, 0.05);
}
.glass:before {
  content: "";
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  top: 0;
  left: 0;
  background: inherit;
  position: absolute;
  /* Blur effect */
  box-shadow: inset 0 0 0 500px rgba(255, 255, 255, 0.2);
  filter: blur(5px);
}
.logo {
  position: relative;
  width: var(--login-glass-width);
  height: 8em;
  border-radius: var(--edit_form-border-radius) var(--edit_form-border-radius) 0
    0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: inherit;
  overflow: hidden;
}
.logo:before {
  content: "";
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  top: 0;
  left: 0;
  background: inherit;
  position: absolute;
  /* Blur effect */
  box-shadow: inset 0 0 0 500px rgba(255, 255, 255, 0.45);
  filter: blur(10px);
}
.logo_image {
  width: 3rem;
  height: auto;
  z-index: 1;
}
.logo_title {
  color: var(--color-black);
  font-size: var(--logo_title-font-size);
  margin-top: var(--logo_title-margin-top);
  z-index: 1;
}
.login_btn {
  width: var(--login-glass-width);
  height: 7em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.btn_container {
  box-sizing: border-box;
  position: relative;
  width: 13em;
  height: 2.5em;
  background-color: var(--color-black);
  border-radius: 3em;
  margin: 0.1em 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
}
.btn_container:after {
  position: absolute;
  content: "Login";
  width: 100%;
  height: 100%;
  background-color: var(--color-red);
  color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3em;
  transform: translateX(-100%);
  transform-origin: top;
  transition: transform 0.5s ease-out;
}

.btn_container:hover:after {
  transform: translateX(0);
}
/* google, github icon */
.btn_container > svg {
  position: absolute;
  left: 0.5em;
  top: 50%;
  transform: translateY(-50%);
  color: var(--color-light-gray);
}

.btn_container div {
  position: absolute;
  top: 50%;
  transform: translateY(-43%);
  color: var(--color-light-gray);
}

.loading_container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
