@import "./vars.css";

body {
  background: rgb(93, 22, 22);
  background: linear-gradient(
    rgb(109, 163, 212) 0%,
    rgba(233, 120, 120, 1) 50%,
    rgb(168, 121, 121) 100%
  );
  overflow-x: hidden;
}
